/* Estilo para dispositivos menores que 768px */
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
    }

    .nav-links li {
        display: block;
        margin: 10px 0;
    }

    .nav-links li:not(:last-child) {
        margin-right: 0;
    }

    .text-sobre {
        width: 100%;
    }

    .input,
    select {
        width: 100%;
        margin-left: 0;
    }

    .box {
        width: 100%;
        margin-left: 0;
    }
}

/* Estilo para dispositivos menores que 576px */
@media only screen and (max-width: 576px) {
    .simbolo-dinheiro {
        font-size: 150px;
    }

    .titulo {
        font-size: 40px;
    }

    .subtitulo {
        font-size: 20px;
    }

    .curso-titulo {
        font-size: 25px;
    }

    .curso-subtitulo {
        font-size: 18px;
    }

    .curso-preco {
        font-size: 20px;
    }

    .input,
    select {
        font-size: 16px;
    }
}
