body{
    background-color: #3e3737; 
}

/*estilo para navbar*/
.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #333333;
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(211, 214, 8, 0.1); 
    border-radius: 5px; 
    height: 80px;
}


.logo img {
    width: 130px;
    height: auto; 
    
}

.nav-links {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    float: right;
    margin-top: 45px; 
    margin-left: 250px;
}

.nav-links li {
    display: inline-block; 
    
}

.nav-links li:not(:last-child) {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold; 
    padding: 10px 15px;
    font-size: 18px;
    padding: 30px 30px; 
     
    border-radius: 15px; 
    transition: background-color 0.3s, color 0.3s; 
}

.nav-links li a:hover {
    background-color:green; 
    color: #144303; 
}

/* Estilos para a seção #home */
#home {
    text-align: center; 
    padding: 50px 0; 
}

.simbolo-dinheiro {
    font-size: 200px; 
    color: green; 
    font-weight: bold; 
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.titulo {
    font-size: 65px; 
    color: green; 
    margin-bottom: 20px; 
    font-family: 'Arial Black', sans-serif;
    animation: blink 1s infinite;
}


.subtitulo {
    font-size: 35px; 
    color: #f0d908; 
    margin-bottom: 40px; 
    font-family: 'Arial Black', sans-serif;
}


#home img {
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
}



.text-sobre {
    text-align: justify;
    border: 2px solid #ccc; 
    border-radius: 15px ; 
    padding: 20px; 
    width: 80%; 
    margin: auto;
    
   
    
}

.text-sobre p {
    font-size: 30px; 
    line-height: 1.5; 
    color: black;
    font-family: 'Pacifico', cursive;
}

/*estilo para seção #encomendas*/

.tituloMaior {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 10vh;
    transform: translateY(-50%);
}


.curso-titulo {
    margin-bottom: 5px;
    font-size: 35px;
    color: #f9f8f8; 
}

.curso-subtitulo {
    margin-bottom: 5px;
    font-size: 25px;
    color: #f9f8f8; 
}

.curso-preco {
    font-weight: bold;
    color: #007bff;
    font-size: 25px;
}

.curso-preco span {
    text-decoration: line-through;
}

.containerEncomenda {
    max-width: 1200px;
    margin: 0 auto; 
    overflow: hidden;
    text-align: center; 
   
    
}

.box {
    background-color: #171714; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    margin-left: 25px;
    padding: 15px;
    float: left;
    width: calc(33.33% - 40px);
    box-sizing: border-box;
}

.box img {
    width: 120px; 
    height: 120px; 
    border-radius: 20%;
    margin-bottom: 10px;
}

/*estilo do formulário de encomendas*/

.caixaForm{
    width: 800px;
    margin: auto;
    margin-top: 50px;
    border: 2px solid #ccc;
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    
}

.field {
    margin-bottom: 15px;
    
    
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}

.input {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    margin-left: 150px;
}

select {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    margin-left: 150px;
    
}

.botao {
    text-align: center;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #45a049;
}

/*estilo da seção formulario*/

.banner {
    background-color: #3e3737; 
    color: white;
    padding: 40px 0; 
    text-align: center;
    margin-top: 50px; 
}

.banner p {
    font-size: 32px; 
    margin: 0;
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


.contato {
    width: 800px;
    margin: auto;
    margin-top: 50px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.field2 {
    margin-bottom: 15px;
}

.label2 {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
    color: aliceblue;
}

.input2,
.textarea2 {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.center {
    text-align: center;
}











