body{
    background-color: #5b916c; 
}

.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #5b916c; 
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(211, 214, 8, 0.1); 
    border-radius: 5px; 
    height: 80px;
}


.logo img {
    width: 130px;
    height: auto; 
    
}

.nav-links {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    float: right;
    margin-top: 45px; 
    margin-left: 250px;
}

.nav-links li {
    display: inline-block; 
    margin-left: 15px;
    
}

.nav-links li:not(:last-child) {
    margin-right: 20px; 
}

.nav-links li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold; 
    padding: 10px 15px;
    font-size: 18px;
    padding: 30px 30px; 
     
    border-radius: 15px; 
    transition: background-color 0.3s, color 0.3s; 
}

.nav-links li a:hover {
    background-color: #e3e30d; 
    color: #144303; 
}

/* Estilos para a seção #home */
#home {
    text-align: center; 
    padding: 50px 0; 
}

.simbolo-dinheiro {
    font-size: 200px; 
    color: green; 
    font-weight: bold; 
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.titulo {
    font-size: 65px; 
    color: green; 
    margin-bottom: 20px; 
    font-family: 'Arial Black', sans-serif;
    animation: blink 1s infinite;
}


.subtitulo {
    font-size: 35px; 
    color: #666; 
    margin-bottom: 40px; 
    font-family: 'Arial Black', sans-serif;
}


#home img {
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
}



.text-sobre {
    text-align: justify;
    border: 2px solid #ccc; 
    border-radius: 15px ; 
    padding: 20px; 
    width: 80%; 
    margin: auto;
    
   
    
}

.text-sobre p {
    font-size: 30px; 
    line-height: 1.5; 
    color: black;
    font-family: 'Pacifico', cursive;
}

/*estilo para seção #encomendas*/

.tituloMaior {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 10vh;
    transform: translateY(-50%);
}


.curso-titulo {
    margin-bottom: 5px;
    font-size: 35px;
    color: #f9f8f8; 
}

.curso-subtitulo {
    margin-bottom: 5px;
    font-size: 25px;
    color: #f9f8f8; 
}

.curso-preco {
    font-weight: bold;
    color: #007bff;
    font-size: 25px;
}

.curso-preco span {
    text-decoration: line-through;
}

.containerEncomenda {
    max-width: 1200px;
    margin: 0 auto; 
    overflow: hidden;
    text-align: center; 
   
    
}

.box {
    background-color: #171714; /* Bege */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    margin-left: 25px;
    padding: 15px;
    float: left;
    width: calc(33.33% - 40px); /* Largura ajustada */
    box-sizing: border-box;
}

.box img {
    width: 120px; 
    height: 120px; 
    border-radius: 20%;
    margin-bottom: 10px;
}











